:root {
  --branding-color: #5e8de0;
  --accent-color: #1f54b0;
  --secondary-color: #d9e3f4;
  --background-color: #e9f5fc;
  --contrast-color: #e0ce57;
}

h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: 40px;
  text-align: center;
}

p {
  font-family: "Manrope", sans-serif;
  opacity: 0.9;
}

h1 {
  color: var(--accent-color);
  font-size: 96px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
}

h4 {
  font-size: 36px;
  color: var(--accent-color);
}

p {
  font-size: 24px;
}

.hero p {
  font-size: 40px;
  font-weight: semibold;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 60px;
  margin-bottom: 40px;
}

.prime-btn,
.second-btn {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(122, 118, 118, 0.3);
}

.prime-btn {
  background-color: var(--branding-color);
  border-color: var(--branding-color);
}

.second-btn {
  color: var(--branding-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.prime-btn:hover,
.second-btn:hover {
  background-color: var(--contrast-color);
  border-color: var(--contrast-color);
  color: var(--accent-color);
  box-shadow: 4px 4px 3px rgba(122, 118, 118, 0.3);
  transition: all ease-in-out 200ms;
}

.section-intro {
  padding: 10px 100px;
}

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    margin: 30px;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .hero p {
    font-size: 32px;
    font-weight: semibold;
  }

  .section-intro,
  .content {
    text-align: center;
    padding: 0;
  }
}
