h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  margin: 30px;
}

p {
  font-family: "Manrope", sans-serif;
}

h1 {
  color: #1f54b0;
  font-size: 96px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 36px;
  color: #1f54b0;
}

h3 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
}

p {
  font-size: 20px;
}

.hero p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.hero {
  background-color: #e9f5fc;
  text-align: center;
  padding: 100px;
}

.btn {
  margin: 30px;
  background-color: #5e8de0;
  border-color: #5e8de0;
  padding: 15px 20px;
  border-radius: 8px;
}

.btn:hover {
  background-color: #a9c5e4;
  color: #0d3e70;
  box-shadow: 3px 3px 3px rgba(122, 118, 118, 0.2);
  transition: ease-in-out, 600ms;
}
